body{
    font-family: arial;
    font-size: 13pX;
}
a{
    color :red;
    text-decoration: none;
}
h1,h2,h3{
    font-family: Verdana;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
/*
Header
*/ 
header{
    background: brown;
}
header a{
    color:white;
}
header a.logo{
    font-size: 20px;
}